* { padding: 0; margin: 0; box-sizing: border-box }
body { font-family: arial; font-size: 13px; color: #999; }
li { list-style: none }
.container { width: 1140px; max-width: 100%; margin: 0 auto }
.logo { float: left; color: #000; text-transform: uppercase; margin-top: 35px }
.logo span { color: #82B62D; font-size: 2em }
.logo strong { font-size: 3em }
.mainTop { float: right }
.contactTop { line-height: 2.2em; margin-top: 26px }
.contactTop ul { text-align: right;}
.contactTop ul li { display: inline-block; margin-left: 12px }
.navTop { line-height: 2em; padding: 10px 0; overflow-y: hidden; }
.navTop .socialTop { float: right; margin-left: 3em; }
.navTop .socialTop li { display: inline-block; padding: 0 3px }
.navTop .socialTop li a { padding: 2px 3px; color: #000 }
.navTop .socialTop li a:hover { color: #82b62d }
.navTop nav { display: block; white-space: nowrap; float: left;}
.navTop nav li { display: inline-block; padding: 0 0.5em; }
.navTop nav li a { font-size: 1.3em; font-weight: 600; color: #000; text-decoration: none; padding: 2px 6px;}
.navTop nav li a:hover { color: #82b62d;
}
body{
        background-color: #2c3e50;
    
    }
.camket {
    width: 100px;
    margin-right: 1000px;
} 